#!/bin/bash
export AWS_PROFILE=myawsprofile
export AWS_DEFAULT_REGION=eu-west-1
export USERS='\
username https://github.com/username.keys sudo $6$XXXXXXXXXXXXXXXX$XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
